body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

h3, h4{
    color: lightcyan;
}

p{
    margin-right: 100px;
    margin-left: 100px;
}

a{
    color: paleturquoise
}

ul{
    display: inline-block;
}

#welcome{
    width: 100px;
    background-color: white;
    box-shadow: 10px 10px 5px;
    margin: auto;
}

#buttonFormat{
    margin-top: 500px;
    display: block;
    align-self: center;
}